{
  "extends": ["eslint:recommended", "google"],
  "parserOptions": {
    "ecmaVersion": 2015
  },
  "env": {
    "es6": true
  },
  "rules": {
    "max-len": 0,
    "no-undef": 0,
    "no-console": 0,
    "no-unused-vars": 0,
    "object-curly-spacing": [2, "always"],
    "require-jsdoc": 0
  }
}
